
localS2Settings/tool/.gradle/*

localS2Settings/tool/samples/codes/S2_measure_1.sr

S2.xcodeproj/xcuserdata/highvision.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

S2Tests/TestResource/sampleProject/.gradle/*

S2Tests/TestResource/sampleProject/build/*

S2Tests/TestResource/sampleProject/gradle/*



S2.xcodeproj/xcuserdata/t.inoue.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

S2.xcodeproj/xcuserdata/t.inoue.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
